<footer>
	<div>
		<div>
			<dl class="footer-links">
				<dt>Links</dt>
				<dd>Homepage</dd>
				<dd>Support</dd>
				<dd>Contact Us</dd>
			</dl>
		</div>
		<div>
			<dl class="footer-links">
				<dt>Links</dt>
				<dd>Homepage</dd>
				<dd>Support</dd>
				<dd>Contact Us</dd>
			</dl>
		</div>
		<div>
			<dl class="footer-links">
				<dt>Links</dt>
				<dd>Homepage</dd>
				<dd>Support</dd>
				<dd>Contact Us</dd>
			</dl>
		</div>
		<div>
			<a href="https://travis-ci.com/cpuabuse/node-system" rel="nofollow"><img src="https://travis-ci.com/cpuabuse/node-system.svg?branch=master" alt="Build Status"></a>
			<a href="https://badge.fury.io/js/cpuabuse-system" rel="nofollow"><img src="https://badge.fury.io/js/cpuabuse-system.svg" alt="npm version"></a>
			<a href="https://coveralls.io/github/cpuabuse/node-system?branch=master" rel="nofollow"><img src="https://coveralls.io/repos/github/cpuabuse/node-system/badge.svg?branch=master" alt="Coverage Status"></a>
			<a href="https://codeclimate.com/github/cpuabuse/node-system/maintainability" rel="nofollow"><img src="https://api.codeclimate.com/v1/badges/381bca0c5f71d32f23df/maintainability" alt="Maintainability"></a>
			<a href="http://inch-ci.org/github/cpuabuse/node-system" rel="nofollow"><img src="http://inch-ci.org/github/cpuabuse/node-system.svg?branch=master" alt="Inline docs"></a>
		</div>
		<div>
			<dl class="footer-information">
				<dt>example.com</dt>
				<dd><i class="fas fa-map-marker-alt"></i>P.Sherman, 42 Wallaby Way, Sydney</dd>
				<dd><i class="fas fa-phone"></i>555-415-1549</dd>
				<dd><i class="fas fa-envelope"></i>noreply@example.com</dd>
			</dl>
		</div>
	</div>
	<div>
		<div>
			example.com/cards - 2018
		</div>
		<div>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		</div>
	</div>
</footer>