<div class="use_form" ng-controller="useCtrl">
	<div>
		<div>{% raw %}{{question}}{% endraw %}</div>
		<div ng-hide="hideAnswer">{% raw %}{{answer}}{% endraw %}</div>
	</div>
	<button ng-click="hideAnswer=!hideAnswer">Show/Hide Answer</button>
	<form novalidate>
		<input type="hidden" name="card_id" value="{% raw %}{{card_id}}{% endraw %}" />
		<button ng-click="doPost(0)">0</button>
		<button ng-click="doPost(1)">1</button>
		<button ng-click="doPost(2)">2</button>
		<button ng-click="doPost(3)">3</button>
	</form>
</div>