<header>
	<div>
		<div>
			<img src="logo" height="60px" width="60px" alt="Logo" style="vertical-align:middle"><span>Example.com</span>
		</div>
		<nav ng-app="myApp"ng-controller="myCtrl">
			<a ng-click="redirectMain('form')">Home</a>
			<a ng-click="myFunc()">Reset</a>
			<a ng-click="redirectMain('about')">About</a>
		</nav>
	</div>
</header>