$font-stack: Helvetica, sans-serif;
// Primary colors
$primary-font-color: whitesmoke;
$primary-border-color: rgba(255,255,255,0.65);
// Secondary colors
$secondary-border-color: rgba(75,75,75,0.8);
// Defualt colors
$default-font-color: black;
$default-bg-color: white;
$default-border-color: grey;
// Misc. colors
$button-bg-color:darksalmon;
$nav-bg-color: darkred;
$form-bg-color: beige;
// Borders
$primary-border: 0.08em solid $primary-border-color;
$secondary-border: 0.085em solid $secondary-border-color;
$default-border: 1px solid $default-border-color;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font: 100% $font-stack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: $nav-bg-color;
  border-bottom: $default-border;
}

header > nav{
  margin-top: 1em;
  margin-bottom: 1em;
}

header > nav > a{
  font: 1.5em Arial, Helvetica, sans-serif;
  color: $primary-font-color;
  margin-right: 0.5em;
}
header > nav > a:hover{
  border-bottom: 0.2em solid $button-bg-color;
  cursor: pointer;
}

main {
  flex-grow: 1;
}

footer {
  border-top: $default-border;
  background: url("backlit_blurred_background_close_up_plants");
  color: $primary-font-color;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

footer > div {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
}

footer > div:first-of-type > div {
  flex-grow: 1;
  flex-basis: 0;
}

footer > div > div:not(:last-of-type) {
  margin-right: 1em;
}

footer > div:last-of-type {
  padding-top: 0.5em;
  border-top: $secondary-border;
}

footer > div dl.footer-links dt {
  border-bottom: $primary-border;
  margin-bottom: 1em;
  font-weight: bold;
  font: 1.1em Arial, Helvetica, sans-serif;
}

footer > div dl.footer-links dd + dd {
  margin-top: 0.2em;
}

footer > div dl.footer-information dt {
  font-weight: bolder;
  margin-bottom: 0.01em;
  font: 1.4em Arial, Helvetica, sans-serif;
}

footer > div dl.footer-information dd {
  font-size: 0.8em;
  margin-top: 0.02em;
}

header > *, main > *, footer > * {
  margin: auto;
  width: 800px;
}

div.use_form{
  border: $default-border;
  background: $form-bg-color;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}
div.use_form > div{
 font-size: 400%;
}

div.use_form > div:first-of-type{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.use_form > *{
  text-align: center;
}

div.use_form button{
  font-size: 200%;
  min-width: 3em;
  border: $default-border;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
  background: $button-bg-color;
  color: $primary-font-color;
  cursor: pointer;
}