// Fonts
$default-font: Helvetica, sans-serif;
$menu-font: Arial, Helvetica, sans-serif;
$header-font: Arial, Helvetica, sans-serif;
$logo-font: "Comic Sans MS", cursive, sans-serif;

// Primary colors
$primary-font-color: whitesmoke;
$primary-border-color: rgba(255,255,255,0.65);

// Secondary colors
$secondary-border-color: rgba(120,120,120,0.8);

// Default colors
$default-font-color: #111;
$default-bg-color: white;
$default-border-color: grey;

// Nav colors
$nav-bg-color: white;
$nav-font-color: steelblue;
$nav-accent-color: steelblue;
$logo-font-color: mediumseagreen;

// Form colors
$button-bg-color:steelblue;
$button-font-color:white;
$form-bg-color: aliceblue;

// Borders
$primary-border: 0.08em solid $primary-border-color;
$secondary-border: 0.08em solid $secondary-border-color;
$default-border: 1px solid $default-border-color;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font: 1em $default-font;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: 0.5em;
  font-family: $header-font;
}
p{
  margin: 0.5em;
}
ul, ol{
  list-style-position: inside;
  margin-left:0.5em;
}

header {
  background: $nav-bg-color;
  background-size: cover;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

header > div > nav{
  margin-top: 1em;
  margin-bottom: 1em;
}

header > div > nav > a{
  font: 1.4em Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: $nav-font-color;
  margin-right: 0.5em;
}
header > div > nav > a:hover{
  border-bottom: 0.1em solid $nav-accent-color;
  cursor: pointer;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>div>a:hover{
  cursor:pointer;
}

header>div>a{
  display:flex;
  align-items: center;
}

header span{
  font: 1.4em $logo-font;
  margin-left: 0.5em;
  color: $logo-font-color;
  font-weight: bold;
}

main {
  flex-grow: 1;
  margin-top: 2em;
  margin-bottom: 1em;
}

footer {
  border-top: $default-border;
  background: url("background_board_brown");
  color: $primary-font-color;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

footer > div {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
}

footer > div:first-of-type > div {
  flex-grow: 1;
  flex-basis: 0;
}

footer > div > div:not(:last-of-type) {
  margin-right: 1em;
}

footer > div:last-of-type {
  padding-top: 0.5em;
  font-size: 0.9em;
  font-weight: lighter;
  border-top: $secondary-border;
  justify-content: space-between;
}

footer > div dl.footer-links *{
  font-family: $menu-font;
}

footer > div dl.footer-links dt {
  border-bottom: $primary-border;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.1em;
}

footer > div dl.footer-links dd + dd {
  margin-top: 0.2em;
}

footer > div dl.footer-information i {
  margin-right: 0.2em;
}

footer > div dl.footer-information dt {
  font-weight: bolder;
  margin-bottom: 0.01em;
  font: 1.4em $menu-font;
}

footer > div dl.footer-information dd {
  font-size: 0.8em;
  margin-top: 0.04em;
}

header > *, main > *, footer > * {
  margin: auto;
  width: 800px;
}

div.use_form{
  background: $form-bg-color;
  border-radius: 5px;
  padding: 1rem;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}
div.use_form > div{
 font-size: 400%;
}

div.use_form > div:first-of-type{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.use_form > *{
  text-align: center;
}

div.use_form button{
  border: none;
  font-size: 200%;
  min-width: 2.5em;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
  background: $button-bg-color;
  color: $button-font-color;
  cursor: pointer;
}