<!doctype html>
<html>
	{% include "head.njk" %}
	<body ng-app="useApp">
		{% include "header.njk" %}
		<main>
			<div ng-controller="main" ng-include="sidebar.url"></div>
		</main>
		{% include "footer.njk" %}
	</body>
</html>